.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .footer__copyright {
    margin: 0 48px 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    margin: 0 24px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
    margin: 16px 0 0 16px;
  }
}