
.lead__image {
  margin: 64px auto 8px;
  max-width: 100%;
  align-self: center;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    margin: 56px auto 8px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    margin: 56px auto 8px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    min-width: 320px;
    margin: 40px auto 8px;
  }
}