.cover {
  margin: 0 0 92px;
  width: 92.5%;
  min-height: 740px;
  background-image: url(../../images/__background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 480px;
    margin: 0 0 64px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
    margin: 0 0 64px;
  }
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(42 44 47 / 0.3);
  transition: ease 0.3s;
}

.cover:hover::before {
  background-color: rgba(42 44 47 / 0.8);
  transition: ease 0.3s;
}